.modal-button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  text-align: center;
  color: var(--main-background-color);
  background: var(--accent-color);
}