.page-footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
}
